.App {
  text-align: center;
    background-color: black;
}


.body {
  /* color:white; */
  position: relative;
  /* background-color: aqua; */
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.title {
  color:white;
  font-size: 50pt;
  /* background-color: red; */
  padding-top: 20pt;
  margin-bottom: 10pt;
  padding-bottom: 0pt;
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
  text-align: center;
}

.subtitle{
  color:white;
  font-size: 20pt;
  width:50%;
  margin-top: 0pt;
  padding-top: 0pt;
  font-family: 'Snell Roundhand', cursive;
  text-align: center;
}

.chapter{
  color:white;
  font-size: 20pt;
  width:100%;
  margin-top: 20pt;
  padding-top: 20pt;
  font-family: 'Snell Roundhand', cursive;
  text-align: center;
  /* left: 50vw */
}

.memories {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: rgb(208, 255, 0); */
}
.memory{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-color: white;
  border-width: 2pt;
  border-radius:50%;
  border-style: solid;
  height: 30pt;
  width: 30pt;
  position: relative;
  align-items: center;
  justify-content: center;
  animation: memory-grow-shrink infinite 1.5s alternate-reverse;
}
.memoryVisited{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-color: white;
  border-width: 2pt;
  border-radius:50%;
  border-style: solid;
  height: 30pt;
  width: 30pt;
  position: relative;
  align-items: center;
  justify-content: center;
  animation: memory-grow-shrink infinite 1.5s alternate-reverse;
}

@keyframes memory-grow-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.memory:hover{
  transform: scale(2);
  transition-duration: 1s;
  background-color: white;
}

.background {
  position: fixed;
}

.modal {
  width: 95%;
  height: 95%; 
  max-height: 95%;
  max-width: 95%;
  background: rgba(0, 0, 0, 0.80);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  animation: animate 0.3s;
  left:2.5%;
  top: 2.5%;
  position: relative;
  border:none;
  margin-top: 0pt;
  overflow: hidden;
  /* border-radius: 7%; */
}
.modalSmall{
  width: 90%;
  height: 90%; 
  background: rgba(0, 0, 0, 0.80);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  animation: animate 0.3s;
  left:5%;
  top: 5%;
  position: relative;
  border:none;
  /* margin: 10pt; */
  overflow: hidden;
  /* border-radius: 7%; */
}

.modalDiv{
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  /* margin:10pt; */
}

.carouselDivSmall{
  display:flex;
  flex-direction:row; 
  /* background-color: yellow; */
  height:100%;
  width:100%;
  /* justify-content: center; */
  /* align-items:center; */
  max-width: 100%;
  max-height: 100%;
}

.modalDivSmall{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* margin:10pt; */
}

.modalRowSmall{
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 10%;
  margin-top:30%;
  width: 100%;
}
.modalRow{
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 48%;
  width: 80vw;
}
.modalCloseSmall{
  color:red;
  /* background-color: black; */
  size:25pt;
  margin-right:30pt;
}
.modalClose{
  color:red;
  /* background-color: black; */
  size:100pt;
  margin-right:30pt;
}

.modalClose:hover{
  color:black;
}

.memoryDiv{
  margin:30pt;
}

/* .imageRow{
  background-color: aquamarine;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
  margin-bottom: 10pt;

} */

.loginBackground{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: black;
}
.loginRow{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.loginButton{
  color:black;
  background-color: white;
}

.particle-mode-div{
  container: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
}

.floating-buttons {
  position: fixed; /* Position the container fixedly */
  top: 20px; /* Adjust top distance from the top of the viewport */
  right: 10px; /* Adjust right distance from the right of the viewport */
  z-index: 999; /* Set z-index to ensure it appears above other content */
  container: flex;
  flex-direction: column;
  width: 170px;
  align-items: center;
  justify-content: center;
  /* background-color: red; */

}

.floating-buttons-buttons {
  width: 170px; 
  height: 27px; 
  border-radius: 100%; /* Make the button circular */
  margin-top: 10px;
  border: none; /* Remove default button border */
  background-color: #fff; /* Set button background color */
  color: #333; /* Set button text color */
  font-size: 16px; /* Set button text size */
}

.floating-buttons button:hover {
  background-color: black;
  color:white;
  border: 2px solid white; /* Add white border on hover */
}

.floating-buttons-selected {
  width: 170px; 
  height: 27px; 
  border-radius: 40%; /* Make the button circular */
  margin-top: 10px;
  border: none; /* Remove default button border */
  color: #333; /* Set button text color */
  font-size: 16px; /* Set button text size */
  background-color: black;
  color:white;
  border: 2px solid white; /* Add white border on hover */
}

