.App {
  text-align: center;
}


.body {
  /* color:white; */
  position: relative;
  /* background-color: aqua; */
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

.title {
  color:white;
  font-size: 35pt;
  /* background-color: red; */
  padding: 20pt;
}
.memories {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: rgb(208, 255, 0); */
}
.memory{
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border-color: white;
  border-width: 2pt;
  border-radius:50%;
  border-style: solid;
  height: 30pt;
  width: 30pt;
  position: relative;
  align-items: center;
  justify-content: center;
  animation: memory-grow-shrink infinite 1.5s alternate-reverse;
}

@keyframes memory-grow-shrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(2);
  }
}

.memory:hover{
  transform: scale(2);
  transition-duration: 1s;
  background-color: white;
}

.background {
  position: fixed;
}

.modal {
  width: 80%;
  height: 90%; 
  background: rgba(0, 0, 0, 0.80);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  animation: animate 0.3s;
  left:8%;
  top: 5%;
  position: relative;
  border:none;
  /* margin: 10pt; */
  overflow: hidden;
  /* border-radius: 7%; */
}

.modalDiv{
  /* background-color: yellow; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  max-height: 80%;
  /* margin:10pt; */
}

.carouselDivSmall{
  display:flex;
  flex-direction:row; 
  /* background-color: yellow; */
  height:100%;
  width:100%;
  /* justify-content: center; */
  /* align-items:center; */
  max-width: 100%;
  max-height: 100%;
}

.modalDivSmall{
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* margin:10pt; */
}

.modalRowSmall{
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 10%;
  margin-top:30%;
  width: 80vw;
}
.modalRow{
  /* background-color: aquamarine; */
  display: flex;
  /* align-items: flex-end; */
  justify-content: flex-end;
  flex-direction: row;
  margin-right: 48%;
  width: 80vw;
}
.modalClose{
  background-color: red;
  border-radius: 100%;
  border:none;
  height: 20pt;
  width: 20pt;
  margin-left: 20pt;
  margin-top: 20pt;
  /* margin-bottom: 20pt; */
  color: black;
  font-size: 10pt;
  font-weight: bold;
  text-align: center;
  /* border: 2px;
  border-style: solid;
  border-color: white; */
}

.modalCloseSmall{
  background-color: red;
  border-radius: 100%;
  border:none;
  height: 20pt;
  width: 20pt;
  margin-top: 10pt;
  /* margin-bottom: 20pt; */
  color: black;
  font-size: 10pt;
  font-weight: bold;
  /* border: 2px;
  border-style: solid;
  border-color: white; */
}

.modalClose:hover{
  color:black;
}

.memoryDiv{
  margin:30pt;
}

/* .imageRow{
  background-color: aquamarine;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
  margin-bottom: 10pt;

} */


